<div class="blog-cards">
    {{ range .Paginator.Pages }}
        <div class="card">
            {{ if $.IsHome }}
                {{ with .Params.featuredAs }}
                    <h3 class="featured-text">{{ . }}</h3>
                {{ end }}
            {{ end }}
            <a href="{{ .Permalink }}">
                {{ if $.IsHome }}
                    {{ partial "media" . }}
                {{ end }}
                {{ if ne $.IsHome true }}
                    {{ with .Params.image }}
                        <img src="{{printf "/images/%s" . | absURL}}" />
                    {{ else }}
                        {{ partial "randImage" }}
                    {{ end }}
                    <div class="text">  
                        <h2>{{ .Title }}</h2>
                        <p>{{ .Summary }}</p>
                    </div>
                {{ end }}
            </a>
        </div>
    {{ end }}
</div>
