<div class="blog-cards">
    {{ range .Paginator.Pages }}
        <div class="card">
            {{ if $.IsHome }}
                {{ $mainTag := index (.Params.tags) 0 }}
                <h3 class="featured-text">{{ $mainTag | title }}</h3>
                {{ partial "media" . }}
                {{ with site.GetPage (printf "/tags/%s" $mainTag) -}}
                    <a href="{{ .Permalink }}">
                        <span class="tag-link">more {{ $mainTag | lower }} >></span>
                    </a>
                {{- end -}}
            {{ end }}
            {{ if ne $.IsHome true }}
                <a class="tag-body" href="{{ .Permalink }}">
                    {{ partial "image" . }}
                    <div class="text">  
                        <h2>{{ .Title }}</h2>
                        <p>{{ .Summary }}</p>
                    </div>
                </a>
            {{ end }}
        </div>
    {{ end }}
</div>
