<footer>
    {{ if ( isset site.Params "social" ) }}
        <div class="social-media">
            {{ range site.Params.social}}
                <a href="{{ .url }}" rel="me" target="_blank"><img src="{{ .icon | absURL }}" alt="{{ .name }}"></a>
            {{ end }}
        </div>
    {{ end }}
    {{/*  {{ partial "logo" }}  */}}
    <p>© <span id="currentYear"></span> {{ site.Params.copyright }}</p>
    <nav>
        <ul>
            {{- range site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{- end }}
        </ul>
    </nav>
    <script lang="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var currentYear = new Date().getFullYear();
            document.getElementById('currentYear').textContent = currentYear;
        });
    </script>
</footer>
