<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ if .IsHome }}
            {{ .Site.Title }}
            {{ else }}
            {{ if strings.Contains .Site.Title .Title }}
                {{ .Site.Title }}
            {{ else }}
                {{ .Title }} | 
                {{ with site.Params.titleSuffix }}
                    {{ . }}
                {{ else }}
                    {{ .Site.Title }}
                {{ end }}
            {{ end }}
        {{ end }}
    </title>
    <link rel="stylesheet" href="{{ "css/styles.css" | absURL }}">
    {{ range .Site.Params.css -}}
        <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}
    {{ if ( isset site.Params "links" ) }}
        {{ range site.Params.links }}
           <link rel="{{ .rel }}" href="{{ .href }}">
        {{ end }}
    {{ end }}
</head>